.modal--student-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(130, 124, 124, 0.2);
}

.modal--student {
  border: 1px solid black;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal--student-title {
  text-align: center;
}

.hide {
  display: none;
}